body {

}

header {
    background-color: skyblue;
    color: red;
    font-family: arial;
    text-align: center;
    margin-;
}

main {
    background-color: grey;
}

footer {
    background-color: salmon;
}